@charset "utf-8";

/* !!! グローバル !!! */
/*!
global
------------------------------
*/
:root {
  /* color-bg */
  --color-bg: #f7f8f5;
  --color-bg-primary: #afc8c2;
  --color-bg-secondary: #c8b6d9;
  --color-bg-accent: #d8a7b1;
  --color-bg-black: #1d1d1d;
  --color-bg-white: #fff;
  --color-bg-gray: #7a7b7b;

  /* color-mask */
  --color-mask-black: rgba(40, 40, 40, 0.35);
  --color-mask-primary: rgba(175, 200, 194, 0.9);

  /* color-font */
  --color-font-base: #4a4a4a;
  --color-font-accent: #d8a7b1;
  --color-font-white: #ffffff;
  --color-font-attention: #d94747;

  /* color-shadow */
  --color-shadow-base: #4a4a4a;
  --color-shadow-primary: #afc8c2;

  /* color-border */
  --color-border-base: #4a4a4a;
  --color-border-white: #fff;

  /* font-family */
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-english: "Playfair Display", serif;

  /* font-letter-spacing */
  --font-letter-spacing-base: 0.05em;
  --font-letter-spacing-heading: 0.08em;

  /* width-contents */
  --width-content-s: 960px;
  --width-content: 1080px;
  --width-content-l: 1200px;
}

/* !!! ファンデーション !!! */
/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  display: block;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.8;
  font-size: 14px;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  letter-spacing: var(--font-letter-spacing-base);
  background-color: var(--color-bg);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* !!! ユーティリティー !!! */
/*!
utility > utility
------------------------------
*/
.u-mt {
  margin-top: 40px !important;
}

@media screen and (min-width: 768px) {
  .u-mt {
    margin-top: 48px !important;
  }
}

.u-ptb {
  padding: 64px 0 !important;
}

@media screen and (min-width: 768px) {
  .u-ptb {
    padding: 80px 0 !important;
  }
}

.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

/* !!! コンポーネント !!! */
/*!
component > section-title
------------------------------
*/
.c-section-title {
  display: grid;
  gap: 6px;
  text-align: center;
}

.c-section-title--white {
  color: var(--color-font-white);
  text-shadow: 1px 1px 8px var(--color-shadow-base);
}

.c-section-title p,
.c-section-title h2 {
  line-height: 1;
  letter-spacing: var(--font-letter-spacing-heading);
  padding-left: 0.08em;
}

.c-section-title p {
  font-size: 28px;
  font-family: var(--font-family-english);
}

@media screen and (min-width: 768px) {
  .c-section-title p {
    font-size: 32px;
  }
}

.c-section-title h2 {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .c-section-title h2 {
    font-size: 20px;
  }
}

/*!
component > page-kv
------------------------------
*/
.c-page-kv {
  position: relative;
}

.c-page-kv img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .c-page-kv img {
    height: 260px;
  }
}

.c-page-kv h1 {
  font-family: var(--font-family-english);
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
  .c-page-kv h1 {
    font-size: 62px;
  }
}

/*!
component > page-contents
------------------------------
*/
.c-page-contents {
  text-align: center;
}

.c-page-contents h2 {
  font-size: 28px;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .c-page-contents h2 {
    font-size: 32px;
  }
}

.c-page-text {
  display: block;
}

/*!
component > pagetop
------------------------------
*/
.c-pagetop {
  display: grid;
  place-items: center;
  z-index: 2;
  height: 40px;
  width: 40px;
  background: var(--color-bg-accent);
  border: solid 2px var(--color-border-white);
  border-radius: 50%;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  position: fixed;
  right: 15px;
  bottom: 30px;
}

@media screen and (min-width: 768px) {
  .c-pagetop {
    height: 50px;
    width: 50px;
    right: 30px;
  }
}

.c-pagetop.js-pagetop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.c-pagetop.js-pagetop.is-show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media (any-hover: hover) {
  .c-pagetop:hover {
    opacity: 0.8;
  }
}

.c-pagetop span {
  height: 10px;
  width: 10px;
  border-top: 3px solid var(--color-border-white);
  border-right: 3px solid var(--color-border-white);
  transform: translateY(20%) rotate(-45deg);
}

/*!
component > button
------------------------------
*/
.c-button {
  display: grid;
  place-items: center;
  width: 180px;
  height: 60px;
  border-radius: 100vh;
  transition:
    transform 0.7s ease,
    color 0.7s ease,
    background-color 0.7s ease,
    border-color 0.7s ease;
  font-family: var(--font-family-english);
}

@media screen and (min-width: 768px) {
  .c-button {
    width: 220px;
  }
}

@media (any-hover: hover) {
  .c-button:hover {
    transform: scale(1.1) translateY(-2px);
  }
}

.c-button--black {
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
  border: solid 1px transparent;
}

@media (any-hover: hover) {
  .c-button--black:hover {
    color: var(--color-font-base);
    background-color: var(--color-bg);
    border-color: var(--color-border-base);
  }
}

.c-button--white {
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
  border: solid 1px var(--color-border-base);
}

@media (any-hover: hover) {
  .c-button--white:hover {
    color: var(--color-font-white);
    background-color: var(--color-bg-accent);
    border-color: transparent;
  }
}

.c-button--submit {
  width: 200px;
  border-radius: initial;
  background-color: var(--color-bg-white);
  border: solid 1px var(--color-border-base);
}

@media screen and (min-width: 768px) {
  .c-button--submit {
    width: 240px;
  }
}

@media (any-hover: hover) {
  .c-button--submit:hover {
    color: var(--color-font-white);
    background-color: var(--color-bg-black);
    border-color: transparent;
  }
}

.c-button--center {
  margin-inline: auto;
}

/*!
component > product(単体)
------------------------------
*/
.c-product-card {
  display: grid;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .c-product-card img {
    max-width: 400px;
  }
}

.c-product-text h3 {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .c-product-text h3 {
    font-size: 20px;
  }
}

.c-product-text p {
  margin-top: 4px;
}

.c-product-text p span {
  display: block;
}

/*!
component > product(複数)
------------------------------
*/
.c-products-box {
  display: grid;
  gap: 30px;
  place-items: baseline;
}

@media screen and (min-width: 600px) {
  .c-products-box--col2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .c-products-box--col3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*!
component > animation
------------------------------
*/
.js-fadein {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.js-fadein.is-show {
  opacity: 1;
  transform: translateY(0);
}

/* !!! レイアウト !!! */
/*!
layout > container
------------------------------
*/
.l-container-l,
.l-container,
.l-container-s {
  width: 90%;
  margin: 0 auto;
}

.l-container-s {
  max-width: var(--width-content-s);
}

.l-container {
  max-width: var(--width-content);
}

.l-container-l {
  max-width: var(--width-content-l);
}

/*!
layout > header
------------------------------
*/
@media screen and (min-width: 768px) {
  .header {
    background-color: var(--color-bg-primary);
  }
}

.header-wrapper {
  align-items: center;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}

.header-logo {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
  }
}

.header-logo img {
  display: block;
  width: 160px;
  height: auto;
  margin-inline: auto;
}

.header-nav {
  display: grid;
  place-items: center;
  height: 40px;
  width: 100%;
  background-color: var(--color-bg-primary);
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    background-color: initial;
    width: initial;
    padding: 0;
  }
}

.header-nav::-webkit-scrollbar {
  display: none;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-nav-list a {
  display: block;
  color: var(--color-font-white);
  font-family: var(--font-family-english);
  text-shadow: 1px 1px 8px var(--color-shadow-base);
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

@media (any-hover: hover) {
  .header-nav-list a:hover {
    text-shadow: 1px 1px var(--color-shadow-base);
    color: var(--color-font-accent);
  }
}

/*!
layout > footer
------------------------------
*/
.footer {
  background-color: var(--color-bg-primary);
  padding: 10px 0;
}

@media screen and (min-width: 400px) {
  .footer {
    padding: 20px 0 10px 0;
  }
}

.footer-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 400px) {
  .footer-contents {
    flex-direction: initial;
    justify-content: space-around;
    gap: 0;
  }
}

.footer-logo img {
  display: block;
  width: 160px;
  height: auto;
}

.footer-sns {
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 400px) {
  .footer-sns {
    gap: 32px;
  }
}

.footer-sns-icon img {
  aspect-ratio: 1;
  width: 20px;
}

@media screen and (min-width: 400px) {
  .footer-sns-icon img {
    width: 30px;
  }
}

@media (any-hover: hover) {
  .footer-sns-icon:hover {
    opacity: 0.8;
  }
}

.footer-copyright {
  font-size: 12px;
  color: var(--color-font-white);
  text-align: center;
  margin-top: 8px;
}

@media screen and (min-width: 400px) {
  .footer-copyright {
    font-size: 14px;
    margin-top: 24px;
  }
}

/* !!! 固有ページ(top) !!! */
/*!
page > top > kv 
------------------------------
*/
.top-kv {
  position: relative;
}

.top-kv img {
  display: block;
  height: 240px;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  .top-kv img {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .top-kv img {
    height: 600px;
  }
}

.top-kv-catchcopy {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
  font-size: 32px;
  line-height: 1.5;
  color: var(--color-font-white);
  text-shadow: 2px 2px 8px var(--color-shadow-primary);
}

@media screen and (min-width: 768px) {
  .top-kv-catchcopy {
    font-size: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .top-kv-catchcopy {
    font-size: 62px;
  }
}

@media screen and (min-width: 1300px) {
  .top-kv-catchcopy {
    font-size: 80px;
  }
}

.top-kv-catchcopy span:first-child {
  display: block;
}

/*!
page > top > news
------------------------------
*/
.top-news {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .top-news {
    padding: 40px 0;
  }
}

.top-news-contents {
  display: grid;
  gap: 15px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .top-news-contents {
    gap: 20px;
    margin-top: 20px;
  }
}

.top-news-article {
  display: grid;
  gap: 4px;
  margin-inline: auto;
  line-height: 1.2;
}

@media screen and (min-width: 600px) {
  .top-news-article {
    grid-template-columns: auto 1fr;
    font-size: 18px;
    gap: 40px;
  }
}

.top-news-article a {
  text-decoration: underline;
  transition: opacity 0.4s ease;
}

@media (any-hover: hover) {
  .top-news-article a:hover {
    opacity: 0.8;
  }
}

/*!
page > top > concept
------------------------------
*/
.top-concept {
  background-image: url(../img/bg-top-concept.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-concept::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-mask-black);
  z-index: 1;
}

.top-concept .js-fadein {
  position: relative;
  z-index: 2;
}

.top-concept-title {
  position: relative;
}

.top-concept-text-wrapper {
  position: relative;
  z-index: 2;
  color: var(--color-font-white);
  text-shadow: 1px 1px 8px var(--color-shadow-base);
}

@media screen and (min-width: 1280px) {
  .top-concept-text-wrapper {
    text-align: center;
  }
}

.top-concept-text:first-of-type {
  font-size: 18px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .top-concept-text:first-of-type {
    font-size: 20px;
  }
}

.top-concept-text span {
  display: block;
}

@media screen and (min-width: 600px) {
  .top-concept-text:first-of-type span {
    display: inline;
  }
}

/*!
page > top > feature-item
------------------------------
*/
.top-feature-item {
  position: relative;
}

@media screen and (min-width: 600px) {
  .top-feature-item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: static;
  }
}

@media screen and (min-width: 600px) {
  .top-feature-item--reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 600px) {
  .top-feature-item img {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .top-feature-item img {
    max-width: 400px;
  }
}

.top-feature-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10%, -50%);
  padding: 16px;
  background-color: var(--color-mask-primary);
  color: #fff;
  width: 80%;
  text-shadow: 1px 1px 8px var(--color-shadow-base);
}

@media screen and (min-width: 600px) {
  .top-feature-text {
    color: var(--color-font-base);
    background-color: initial;
    position: static;
    transform: none;
    padding: 10px 0 0 0;
    width: initial;
    display: grid;
    align-content: start;
    gap: 10px;
    height: initial;
    text-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .top-feature-text {
    padding: 20px 0 0 0;
  }
}

.top-feature-text h3 {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 1.2;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .top-feature-text h3 {
    font-size: 24px;
  }
}

.top-feature-text h3::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 45px;
  background-color: var(--color-bg-accent);
}

.top-feature-text p {
  margin-top: 10px;
  margin-left: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  .top-feature-text p {
    margin-top: 0;
    line-height: inherit;
  }
}

.top-feature-text p span {
  display: block;
}

/*!
page > top > products
------------------------------
*/
.top-products {
  background-color: var(--color-bg-white);
}

/*!
page > top > contact
------------------------------
*/
.top-contact {
  background-image: url(../img/bg-top-contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.top-contact::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-mask-black);
  z-index: 1;
}

.top-contact-wrapper {
  position: relative;
  z-index: 2;
}

.top-contact-form-wrapper {
  width: 90%;
  margin-inline: auto;
}

@media screen and (min-width: 1024px) {
  .top-contact-form-wrapper {
    width: 70%;
  }
}

.top-contact-form {
  display: grid;
  gap: 20px;
}

.top-contact-form-item {
  display: grid;
  gap: 6px;
}

.top-contact-form-label {
  color: var(--color-font-white);
  text-shadow: 1px 1px 8px var(--color-shadow-base);
}

.top-contact-form input,
.top-contact-form select,
.top-contact-form textarea {
  font-size: 14px;
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
  padding-left: 2px;
  width: 100%;
}

.top-contact-form input,
.top-contact-form select {
  height: 50px;
}

.top-contact-form textarea {
  height: 220px;
}

.top-contact-form-category {
  position: relative;
}

.top-contact-form-category::after {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: solid 1px var(--color-border-base);
  border-left: solid 1px var(--color-border-base);
  transform: translateY(-50%) rotate(-45deg);
  position: absolute;
  top: 50%;
  right: 20px;
}

/*!
page > top > shop
------------------------------
*/
.top-shop-information-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .top-shop-information-wrapper {
    gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .top-shop-information-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
}

.top-shop-information-contents {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 16px 0;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  .top-shop-information-contents {
    grid-template-columns: auto 1fr;
    gap: 30px 0;
  }
}

.top-shop-information-contents dt,
.top-shop-information-contents dd {
  padding-left: 10px;
  border-bottom: 1px solid var(--color-border-base);
}

.top-shop-information-contents dd {
  padding-bottom: 4px;
}

.top-shop-sp-tel {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .top-shop-sp-tel {
    display: none;
  }
}

.top-shop-pc-tel {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-shop-pc-tel {
    display: block;
  }
}

.top-shop-address-item,
.top-shop-calendar {
  display: block;
}

.top-shop-calendar:last-child {
  font-size: 10.5px;
  color: var(--color-font-attention);
}

@media screen and (min-width: 768px) {
  .top-shop-calendar:last-child {
    font-size: 12px;
  }
}

.top-shop-map iframe {
  width: 100%;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .top-shop-map iframe {
    height: 260px;
  }
}

/* !!! 固有ページ(products) !!! */
/*!
page > products
------------------------------
*/
.products-category-card-wrapper {
  display: grid;
  gap: 20px;
  margin-top: 30px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.8s ease,
    opacity 0.8s ease;
}

/* js用 */
.products-category-card-wrapper.is-open {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .products-category-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .products-category-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.products-category-item h2 {
  font-size: 26px;
  letter-spacing: var(--font-letter-spacing-heading);
  line-height: 1;
  position: relative;
  /* js用 */
  width: 100%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .products-category-item h2 {
    font-size: 32px;
  }
}

/* js用 */
.products-category-item h2::before {
  content: "+";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
}

/* js用 */
.products-category-item h2.is-open::before {
  content: "-";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
}

.products-category-item h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-bg-accent);
  margin-top: 4px;
}

.products-category-card {
  display: grid;
  place-items: center;
  gap: 10px;
  padding: 20px 0;
  background-color: var(--color-bg-white);
  border-radius: 30px;
}

.products-category-card img {
  width: 90%;
  border-radius: 30px;
}

.products-category-card-text {
  width: 85%;
  line-height: 1.2;
  display: grid;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .products-category-card-text {
    gap: 8px;
  }
}

.products-category-card-text h3 {
  font-size: 16px;
  border-bottom: solid 1px var(--color-border-base);
}

@media screen and (min-width: 768px) {
  .products-category-card-text h3 {
    font-size: 18px;
  }
}

.products-category-card-text p:first-of-type {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .products-category-card-text p:first-of-type {
    font-size: 18px;
  }
}

.products-category-card-text p span {
  display: block;
}

/* !!! 固有ページ(news) !!! */
/*!
page > news
------------------------------
*/
@media screen and (min-width: 768px) {
  .news-description-text {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .news-description-text:nth-of-type(3),
  .news-description-text:nth-of-type(4) {
    display: block;
  }
}

.news-description-text:nth-of-type(3) {
  margin-top: 8px;
}

.news-description-text:nth-of-type(4) {
  color: var(--color-font-attention);
  margin-bottom: 8px;
}

.news-description-text time {
  color: var(--color-font-attention);
  font-weight: bold;
}
